<!DOCTYPE html>
<html lang="en">


<body>
  
  
  <form action="/" method='POST'>

	RED<button type ='submit' name='red' value='R'>ON</button>
	<button type ='submit' name='red' value='r'>OFF</button><br>
	<br>

	GREEN<button type ='submit' name='green' value='G'>ON</button>
	<button type ='submit' name='green' value='g'>OFF</button><br>
	<br>

	BLUE<button type ='submit' name='blue' value='B'>ON</button>
	<button type ='submit' name='blue' value='b'>OFF</button><br>
	<br>

	YELLOW<button type ='submit' name='yellow' value='Y'>ON</button>
	<button type ='submit' name='yellow' value='y'>OFF</button><br>
	<br>

	ALL_BUTTONS<button type ='submit' name='all_buttons' value='O'>ON</button>
	<button type ='submit' name='all_buttons' value='o'>OFF</button><br>		

  </form>
</body>

</html>
